<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>약관 등록</title>
        <style>
            /*선택자 : table or tr or th or td 인 태그의 서식 설정*/
            table,tr,th,td {
                border : solid 1px black; /* 테두리 : 실선, 선의 두께, 색상 */
                border-collapse: collapse; /* 테두리 간격 없음 */
                padding:8px; /* 테두리와 내용사이의 간격 띄우기 */
            }
        </style>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


</head>
<body>
<p>약관 글쓰기 페이지</p>
<div class="container">
    <form method="post" action="http://localhost:8080/registerForm">
    <div class="first-line">

        <div>
            <scan id="type-option">약관유형</scan>
            <select id="type" name="type">
                <option disabled selected value="">----- 전체 -----</option>
                <option value="이용약관">이용약관</option>
                <option value="개인정보취급방침">개인정보취급방침</option>
                <option value="회원가입 동의">회원가입 동의</option>
                <option value="주문동의">주문동의</option>
            </select>
        </div>

        <div>
            <scan id="yn-option">필수여부</scan>
            <input type="checkbox" role="switch" id="yn" name="yn" value="필수"/>
        </div>

        <div>
            <scan id="period-option">기간검색</scan>
            <select id="period" name="period">
                <option  selected value="전시 시작일">전시 시작일</option>
                <option value="등록일">등록일</option>
                <option value="수정일">수정일</option>
            </select>
            <input class="box" type="text" id="openToEnd" autocomplete="off" name="openToEnd" value="" />
        </div>

    </div>


   <!-- <div>
        <scan id="period-option">사용여부</scan>
        <input type="radio" name="??">
    </div>-->

    <div>
        <scan>지원언어</scan>
        <input type="checkbox"   name="ko" value="국문"/>
        <input type="checkbox"   name="en" value="영문"/>
        <input type="checkbox"   name="cn" value="중문"/>
        <input type="checkbox"   name="jp" value="일문"/>
    </div>

    <div class="second-line">
        <div>
            <scan>약관 정보</scan>
            <scan>국문</scan>
            <scan>영문</scan>
            <scan>중문</scan>
            <scan>일문</scan>
        </div>
        <div>
            <scan>약관 내용</scan>
            <!--스마트에디터 넣을 공간-->
        </div>
    </div>
    <div class="third-line">
        <div>
            <scan>등록자</scan><input type="text" readonly/>
            <scan>등록일시</scan><input type="text" readonly/>
        </div>

        <div>
            <scan>수정자</scan><input type="text" readonly/>
            <scan>수정일시</scan><input type="text" readonly/>
        </div>
    </div>
    </form>
        <button type="reset">닫기</button>
        <button type="submit">저장</button>
</div> <!-- end of container-->

<script type="text/javascript" src="/js/common/jquery-cal.js"></script>

</body>
</html>